@using TicketingFE.Extensions
@using TicketingFE.Models
@inject TicketApiService TicketService
@inject UserApiService UserService
@inject ISnackbar Snackbar

@page "/ticket/{Id?}"

<PageTitle>Ticket</PageTitle>


@if(isLoading)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    <MudText Typo="Typo.subtitle1" Class="mt-2">Loading item...</MudText>
}
else if(ErrorMessage != null)
{
    <MudText Typo="Typo.subtitle1" Class="mt-2">@ErrorMessage</MudText>
}
else
{

    <MudStack Spacing="2" Class="pt-2 pb-4">
        <MudText class="pt-2" Typo="Typo.h4">
            @(IsEditMode ? "Edit/View Ticket" : "Create New Ticket")
        </MudText>

        <MudText Typo="Typo.body1">
            Ticket Number: @Ticket?.TicketNo
        </MudText>

        <MudTextField 
            Label="Title" 
            @bind-Value="Title"
            Variant="Variant.Outlined"></MudTextField>

        <MudTextField 
            Label="Description" 
            @bind-Value="Description" 
            Lines="6"
            Variant="Variant.Outlined"></MudTextField>

    <MudGrid>
        <MudItem xs="6">
            <MudSelect T="Status?"
                @bind-Value="SelectedStatus"
                Variant="Variant.Outlined"
                Label="Status"
                Clearable
                Placeholder="Select Status">
                    <MudSelectItem T="Status?" Value="@Status.Open">Open</MudSelectItem>
                    <MudSelectItem T="Status?" Value="@Status.InProgress">In Progress</MudSelectItem>
                    <MudSelectItem T="Status?" Value="@Status.Closed">Closed</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="6">
        @if(Users != null && Users.Any())
        {
            <MudSelect T="Guid?" 
                    @bind-Value="AssignedUserId"
                    Variant="Variant.Outlined"
                    Label="Assigned Uswr"
                    Clearable
                    Placeholder="Select User">
                @foreach(UserViewModel user in Users)
                {
                    <MudSelectItem T="Guid?" Value="@user.Id">@user.Name</MudSelectItem>
                }
            </MudSelect>
        }
        </MudItem>
    </MudGrid>
    </MudStack>
    <div class="d-flex justify-end">
        <MudStack Spacing="2">
    @if(IsEditMode)
    {

        <MudText Typo="Typo.body2">
            Ticket created: @Ticket?.CreatedAt?.ToLocalTime().ToString("g")
        </MudText>
        <MudText Typo="Typo.body2">
            Last updated: @Ticket?.UpdatedAt?.ToLocalTime().ToString("g")
        </MudText>


    }



    @if(IsEditMode)
    {
        <MudButton Color="Color.Primary" 
            Variant="Variant.Filled" 
            class="pr-5 "
            Disabled="@isProccessing"
            OnClick="UpdateTicket">
            Update
        </MudButton>
    }
    else
    {
        <MudButton Color="Color.Primary" 
            Variant="Variant.Filled" 
            class="pr-5"
            Disabled="@isProccessing"
            OnClick="CreateTicket">
            Create
        </MudButton>
    }
    </MudStack>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }
    private TicketViewModel? Ticket = null;
    private bool IsEditMode = false;
    private bool isLoading = true;
    private bool isProccessing = false;
    private string? ErrorMessage = null;
    private string? Title
    {
        get => Ticket?.Title;
        set
        {
            if(Ticket == null)
            {
                Ticket = new TicketViewModel();
            }
            Ticket.Title = value;
        }
    }
    private string? Description
    {
        get => Ticket?.Description;
        set
        {
            if(Ticket == null)
            {
                Ticket = new TicketViewModel();
            }
            Ticket.Description = value;
        }
    }


    private Guid? AssignedUserId
    {
        get => Ticket?.AssignedUser?.Id;
        set
        {
            if (Ticket != null)
            {
                // Ensure AssignedUser exists
                Ticket.AssignedUser ??= new UserViewModel();
                Ticket.AssignedUser.Id = value ?? Guid.Empty;
            }
        }
    }

    private List<UserViewModel>? Users { get; set; }

    

    private Status? SelectedStatus { 
        get => Ticket?.TicketStatus;
        set {
            if (Ticket != null)
            {
                Ticket.TicketStatus = value;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var usersDTO  = await UserService.GetUsersAsync();
        Users = usersDTO.Select(x => x.ToViewModel()).ToList();

        if(Id != null)
        {
            var ticketDTO = await TicketService.GetTicketByIdAsync(Id);
            if(ticketDTO == null)
            {
                ErrorMessage = "That ticket does not seem to exist.";
            }
            else
            {
                Ticket = ticketDTO.ToViewModel();
                IsEditMode = true;
            }
        }
        else
        {
            Ticket = new TicketViewModel();
        }
        _ = InvokeAsync(StateHasChanged);
        isLoading = false;
    }

    private async Task CreateTicket()
    {
        isProccessing = true;
        var createTicketDTO = new TicketCreateDTO
        {
            Title = Ticket?.Title,
            Description = Ticket?.Description,
            AssignedUserId = Ticket?.AssignedUser != null ? 
                Ticket.AssignedUser.Id : null
        };

        var ticketDTO = await TicketService.CreateTicketAsync(createTicketDTO);

        if(ticketDTO != null)
        {
            Snackbar.Add($"Ticket Created with Id: {Ticket?.Id}", Severity.Success);
                Ticket = ticketDTO?.ToViewModel();
                IsEditMode = true;
        }
        else
        {
            ErrorMessage = "There was an issue creating the ticket";
        }

        isProccessing = false;
        _ = InvokeAsync(StateHasChanged);

    }

    private async Task UpdateTicket()
    {
        if(Ticket == null)
        {
            ErrorMessage = "There was an issue initalizing page data.";
        }
        isProccessing = true;
        var updateTicketDTO = new TicketUpdateDTO
        {
            Id = Ticket.Id.Value,
            Title = Ticket?.Title,
            TicketStatus = Ticket?.TicketStatus,
            Description = Ticket?.Description,
            AssignedUserId = Ticket?.AssignedUser != null ? 
                Ticket.AssignedUser.Id : null
        };

        var ticketDTO = await TicketService.UpdateTicketAsync(updateTicketDTO);
        if(ticketDTO != null)
        {
            Ticket = ticketDTO?.ToViewModel();
            Snackbar.Add($"Ticket Updated with Id: {Ticket?.Id}", Severity.Success);
        }
        else
        {
            ErrorMessage = "There was an issue updating the ticket";
        }
        
        isProccessing = false;
        _ = InvokeAsync(StateHasChanged);
        
    }
}
